
#ignore folders
venv/
__pycache__/
logs/
venv2/
jenv/
nenv/
uploads/
migrations/
request-kerberus
pymysql/
app/templates/journals

#ignore files
elasticsearch-2.3.1.deb
killunicorn.sh
.env
env.flaskenv
test7.txt



#ignore type

*.pyc



