


.nav-t-l{
display:inline-block;



}

.nav-t-l .navbar-nav > li {
    display: inline-block;
}

.nav-t-l img{

display: inline-block;


}

.nav-t-l .navbar-nav{
    margin: 0px -15px;
}


#back-login{


color:#77694f;
font-size: 16px;



}