  <div class="flex-container task-wrapper">
    {% for task in tasks %}
     <a href="javascript:load_task('{{task.id}}')" class="black-link">
    <div class="flex-item task-wrapper task-hover">
        <div class="container-fluid" >
        <div class="row task-rows" >
        <div class="col-xs-12 task-infos ">



        {% if task.internet == 1 %}

        <i class="material-icons" style="color:green;">wifi</i>
        {% else %}
        
        <i class="material-icons" style="color:#e1e1e1;">wifi_off</i>
        {% endif %}
    </div>
        </div>
       
        <div class="row task-rows">
        <div class="col-xs-12 task-summary">{{task.summary[:150]}} ...</div>
        </div>
        <div class="row task-rows">
        <div class="col-xs-12 task-body">{{task.body[:200]}} ...</div>
        </div>
        </div>
        </div>

    </a>


   
    {% endfor %}

<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer tasks') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older tasks') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
