<div class="task-container" >
    {% for task in tasks %}


   <div class="task-item">
<a href="javascript:load_task('{{task.id}}')" class="black-link ">
    <div class="row header-row">
    <div class="col-xs-12 header-col cblue ">Header</div></div>

    <div class="row summary-row">
    <div class="col-xs-12 summary-col cgreen ">{{task.summary}}</div></div>

</a>
</div>






   
    {% endfor %}

</div>
<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer tasks') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older tasks') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
