
    {% for task in tasks %}


   
<a href="javascript:load_task('{{task.id}}')" class="black-link ">
    <div class="row main-row ">
    <div class="col-xs-12 main-col cyellow ">


    <div class="row header-row">
    <div class="col-xs-4 summary-col cblue ">Header</div>
     <div class="col-xs-3 summary-col cblue ">Method</div>
     <div class="col-xs-3 summary-col cblue ">Internet</div>
     <div class="col-xs-2 price-col cblue ">{{task.price}}{{task.currency}}</div>



</div>
    <div class="row summary-row">
    <div class="col-xs-12 summary-col cgreen ">{{task.summary}}</div></div>

     <div class="row footer-row">
    <div class="col-xs-12  footer-col cgreen ">
        {% for tag in task.tags %}
        <span class="tag-element">{{tag.name}}</span>



        {% endfor %}


    </div></div>




    <div class="row space-row">
    <div class="col-xs-12 space-col cpurple "></div></div>






 </div></div>

   

</a>







   
    {% endfor %}


<nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer tasks') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older tasks') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
