{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}
{% block app_content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>


<div class="container" id="Container-Index-Main-Content">

    <div class="flex-container task-wrapper">
    {% for task in tasks %}

    <div class="flex-item task-wrapper">
        <div class="row">
        <div class="col task-summary">{{task.summary}}</div>
        </div>


    </div>

    
   
    {% endfor %}

</div>





    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer tasks') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older tasks') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
 </div> <!-- End Div Container Index-Main-Content -->


<div class="container" id="Container-Index-Add-Task" style="display:none;">
  
  

    <h1>Ask for help</h1>
    <form action="" method="post" novalidate>
        {{ form_task.hidden_tag() }}
        <p>
            {{ form_task.summary.label }}<br>
            {{ form_task.summary(class="form-control") }}
        </p>
        <p>
            {{ form_task.body.label }}<br>
            {{ form_task.body(class="form-control") }}</p><p>

            {{ form_task.internet.label }}<br>
            {{ form_task.internet() }}</p>
        <p>
            {{ form_task.tags.label }}<br>
            {{ form_task.tags(class="form-control") }}</p>

            <p>{{ form_task.city.label }}<br>
            {{ form_task.city(class="form-control") }}</p>

        
        <p>  {{ form_task.create() }}  </p>
    </form>







</div>



 
{% endblock %}