{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}
{% block app_content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>


<div class="container" id="Container-Index-Main-Content">

    <div class="flex-container task-wrapper">
    {% for task in tasks %}
     <a href="#" class="black-link">
    <div class="flex-item task-wrapper task-hover">
        <div class="container-fluid" >
        <div class="row task-rows" >
        <div class="col-xs-12 task-infos ">



        {% if task.internet == '1' %}
        <i class="material-icons" style="color:green;">wifi</i>
        {% else %}
        
        <i class="material-icons" style="color:#e1e1e1;">wifi_off</i>
        {% endif %}
    </div>
        </div>
        <div class="row task-rows">
        <div class="col-xs-12 task-summary">{{task.summary[:70]}} ...</div>
        </div>
        <div class="row task-rows">
        <div class="col-xs-12 task-summary">{{task.body[:250]}} ...</div>
        </div>
        </div>
        </div>

    </a>
   
    {% endfor %}

</div>





    <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> {{ _('Newer tasks') }}
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    {{ _('Older tasks') }} <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
 </div> <!-- End Div Container Index-Main-Content -->


<div class="container" id="Container-Index-Add-Task" style="display:none;">
  
  

    <h1>Ask for help</h1>
    <form action="" method="post" novalidate>
        {{ form_task.hidden_tag() }}
        <p>
            {{ form_task.summary.label }}<br>
            {{ form_task.summary(class="form-control") }}
        </p>
        <p>
            {{ form_task.body.label }}<br>
            {{ form_task.body(class="form-control") }}</p><p>

            {{ form_task.internet.label }}<br>
            {{ form_task.internet() }}</p>

               <p>{{ form_task.city.label }}<br>
            {{ form_task.city(class="form-control") }}</p>
        <p>
            {{ form_task.tags.label }}<br>
            {{ form_task.tags(class="form-control") }}</p>

            
            <p>  {{ form_task.create() }}  </p>

 </form>


         <!-- The Modal -->
<div class="modal" id="modal-tags1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header modal-lg">
        <h4 class="modal-title">Choose categorys</h4>
     
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      

      <div class="modal-body modal-lg">
        <form action="/action_page.php" method="get">
      <div class="flex-container flex-icons">
         {%for filename in filelist %}
         <div class="flex-item flex-icons">
            <input type="checkbox" id="{{filename.split('.')[0]}}" style="display: none;"/>
           <label  class="checked-label"for="{{filename.split('.')[0]}}"><img src="{{url_for('static', filename='img/icons/')}}{{filename}}" style="width:32px; height:32px" ></label>

          </div>







         {% endfor %}
          </div>
          </form>
        </div>

       
      </div>
    </div>
  </div>


</div>



 
{% endblock %}