{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% from "macros.html" import modal with context %}
{% block app_content %}
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>

<script>

{% if current_user.is_authenticated %}

 $(document).ready(function(){

  var xhttp;
  var xhttp2;
  if (window.XMLHttpRequest) {
    // code for modern browsers
    xhttp = new XMLHttpRequest();
    
    } else {
    // code for IE6, IE5
    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("container-user").innerHTML = this.responseText;
      
      
    }
  };

  xhttp.open("GET", '{{ url_for('user.user', username=current_user.username) }}', true);
  
  xhttp.send();
 



}); 

load_content()

{% endif %}




  $(document).ready(function(){

  var xhttp;

  if (window.XMLHttpRequest) {
    // code for modern browsers
    xhttp = new XMLHttpRequest();
    
    } else {
    // code for IE6, IE5
    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("Container-Index-Main-Content").innerHTML = this.responseText;
      
      
    }
  };
  {% if request.args.get('page') %}
  xhttp.open("GET", '{{ url_for('main.index_r', page=request.args.get('page')) }}', true);
  
  {% else %}
  xhttp.open("GET", '{{ url_for('main.index_r') }}', true);
  {% endif %}


  
  xhttp.send();
 



}); 




 setInterval(function(){ 

  var xhttp;

  if (window.XMLHttpRequest) {
    // code for modern browsers
    xhttp = new XMLHttpRequest();
    xhttp2 = new XMLHttpRequest();
    } else {
    // code for IE6, IE5
    xhttp = new ActiveXObject("Microsoft.XMLHTTP");
  }
  xhttp.onreadystatechange = function() {
    if (this.readyState == 4 && this.status == 200) {
      document.getElementById("Container-Index-Main-Content").innerHTML = this.responseText;
      
      
    }
  };

  xhttp.open("GET", '{{ url_for('main.index_r') }}', true);
  
  xhttp.send();
 
}, 300000);




 </script>


<div id ="errors_message" class="fading error-message alert alert-warning" style="display:none;"></div>




<div class="container" id="Container-Index-Main-Content"></div>

  










<div class="container" id="Container-Index-Add-Task" style="display:none;">





<!--  ############################################################################################   -->


<div class="img-upload-container flex-container" id="img-upload-container">

  <div class="img-form-item flex-item">
  <div class="outline-box">
    
    <span>{{ _('Add Images') }}</span>

    <form method=post enctype=multipart/form-data id="form-async">
     <label  id="pic-upload-label" for="file-input"><img class="pic-upload-img" src="{{url_for('static', filename='img/camera.svg')}}" >
     </label>
    <input type="file" id="file-input"  name=file  size="60" style="display:none;" />
  
</form>
</div>
</div>
<!-- Slideshow container -->


</div>


<!--  ############################################################################################   -->
















<div id="demo"></div>
  
  

    <h1>Ask for help</h1>
    <form action="" method="post" novalidate>
        {{ form_task.hidden_tag() }}
        <p>
            {{ form_task.summary.label }}<br>
            {{ form_task.summary(class="form-control") }}
        </p>
        <p>
            {{ form_task.body.label }}<br>
            {{ form_task.body(class="form-control") }}</p><p>

            {{ form_task.internet.label }}<br>
            {{ form_task.internet() }}</p>
             <p>
            {{ form_task.price.label }}<br>
            <span>
            {{ form_task.price() }}</span>

            <span>
            {{ form_task.currency() }}</span></p>

               <p>{{ form_task.city.label }}<br>
            {{ form_task.city(class="form-control") }}</p>
            {{ form_task.tags.label }}<br>
         <div class="tag-editor form-control" id="tag-editor">
           
            <span>{{ form_task.tags(class="form-control tag-form") }}</span>


          </div><br>

            
            <p>  {{ form_task.create(class="btn btn-danger") }}  </p>

 </form>


         <!-- The Modal -->
<div class="modal" id="modal-tags1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header modal-lg">
        <h4 class="modal-title">Choose categorys</h4>
     
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      

      <div class="modal-body modal-lg">
        
      <div class="flex-container flex-icons">
         {%for filename in filelist %}
         <div class="flex-item flex-icons">
            <input class="checked-data" type="checkbox" id="{{filename.split('.')[0]}}" style="display: none;"/>
           <label  class="checked-label"for="{{filename.split('.')[0]}}"><img src="{{url_for('static', filename='img/icons/')}}{{filename}}" style="width:32px; height:32px" ></label>

          </div>






         
         {% endfor %}
       
        
        </div>

          <div>
         <p><button id="select-tag-b" class="btn btn-danger"onclick="select_categorys()" >Select</button></p></div>
          </div>
      </div>
    </div>
  </div>


</div>


<div class="container" id="container-user" style="display:none;"></div>
<div class="container" id="container-task" style="display:none;"></div>





 
{% endblock %}