

{% block app_content %}


<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/task.css') }}">




        <div class="container-fluid task-full-wrapper" >
        <div class="row task-rows task-date-row box-heading">
        <div class="col-xs-2 ">{{task.timestamp}} | </div>
        <div class="col-xs-2 task-infos ">{{task.author.username}}</div>
       
        </div>
        <div class="row task-rows">
        <div class="col-xs-12 header-description">{{task.summary}}</div>
      </div>

<div class="row task-rows task-content-container" >
<div class="col-xs-8 left-content ">

        <div class="row task-rows slide-img-container" >
        <div class="col-xs-12 " ">{% include 'slideshow.html' %}</div></div>

        <div class="row task-rows">
        <div class="col-xs-12 box-heading">{{ _('Beschreibung') }}</div></div>

        <div class="row task-rows task-middle-row ">
        <div class="col-xs-12 ">{{task.body}}</div></div>



</div>



<div class="col-xs-4 right-content ">

        
       
 <div class="row task-rows">       
<div class="col-xs-12 task-infos price"style="text-align:center;">{{task.price}} {{task.currency.capitalize()}}</div></div>
 
 <div class="row task-rows"> 
 <div class="col-xs-12 task-infos" style="text-align:center;" style="justify-content:right;"><button class="button-take" onclick="take_task('{{task.id}}')" >Take</button></div></div>
</div>

</div>
</div>


    




{% endblock %}