

{% block app_content %}

<script type="text/javascript" src="{{url_for('static', filename='js/index.js')}}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/task.css') }}">



<div class="row task-header-row">
  <div class="col-xs-12 task-header-col"></div>Header</div>

    <div class="row task-info-row">
    <div class="col-xs-12 task-info-col">Infos</div></div>

      <div class="row task-summary-row">
    <div class="col-xs-12 task-summary-col">Summary</div></div>
    


  




 <div class="row task-function-row">
   
<div class=" col-xs-6 task-left-content">Left-content</div>
<div class=" col-xs-6 task-right-content">Right-Content</div>


 </div> <!-- End task-header-row -->


 <div class="row task-gallery-row ">
  <div class=" col-xs-12 task-gallery-col">
    <img class="galimg" src="{{url_for('static', filename='img/icons/camera.svg')}}"> 
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>           
                
 </div>
  


</div>

   <div class="row task-thumb-row">
   <div class=" col-xs-12 task-thumb-col">Image-Preview</div></div>


  <div class="row task-description-row">
   <div class=" col-xs-12 task-description-col">Description</div></div>




 <div class="row task-footer-row">
   <div class=" col-xs-12 task-footer-col">Footer</div>




 </div>

    




{% endblock %}