{% extends "base.html" %}

{% block app_content %}

<div class="main-container">


<ul class="nav nav-tabs">
  <li class="nav-item active">
    <a class="nav-link active"  id="Overview-tab" data-toggle="tab" href="#Overview" role="tab" aria-controls="home" aria-selected="true">Overview</a>

  </li>
  <li class="nav-item">
    <a class="nav-link active" id="Networks-tab" data-toggle="tab" href="#Networks" role="tab" aria-controls="home" aria-selected="true">Networks</a>
  </li>
</ul>
<div class="tab-content" id="TabContent" class="active" >
<div class="tab-pane active in " id="Overview" role="tabpanel" aria-labelledby="Overview-tab">


{%for task in tasks_created %}

{{task.summary}}
{% endfor %}

</div> <!--End Div Tab Panel Overview-->



<div class="tab-pane fade out" id="Networks" role="tabpanel" aria-labelledby="Networks-tab" >
   {%for task in tasks_taken %}

{{task.summary}}
{% endfor %}

</div>





</div> <!-- End Div Tab Content -->






   </div>
{% endblock %}